.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

main {
    margin-top: 6rem;
}

.menu-filtro {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.container-duplo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro-busca {
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: #0000009a;
    border-radius: 20px;
    margin-block: 20px;
    padding: 20px;
}

.close-btn-filtro {
    display: flex;
    justify-content: end;
    
}
